<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->


    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/goodsService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/goodsController.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="goodsController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i
                            class="fa fa-trash-o"></i> 删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">主键</th>
                <th class="sorting">商家ID</th>
                <th class="sorting">SPU名</th>
                <th class="sorting">默认SKU</th>
                <th class="sorting">状态</th>
                <th class="sorting">是否上架</th>
                <th class="sorting">品牌</th>
                <th class="sorting">副标题</th>
                <th class="sorting">一级类目</th>
                <th class="sorting">二级类目</th>
                <th class="sorting">三级类目</th>
                <th class="sorting">小图</th>
                <th class="sorting">商城价</th>
                <th class="sorting">分类模板ID</th>
                <th class="sorting">是否启用规格</th>
                <th class="sorting">是否删除</th>

                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
                <td>{{entity.id}}</td>
                <td>{{entity.sellerId}}</td>
                <td>{{entity.goodsName}}</td>
                <td>{{entity.defaultItemId}}</td>
                <td>{{entity.auditStatus}}</td>
                <td>{{entity.isMarketable}}</td>
                <td>{{entity.brandId}}</td>
                <td>{{entity.caption}}</td>
                <td>{{entity.category1Id}}</td>
                <td>{{entity.category2Id}}</td>
                <td>{{entity.category3Id}}</td>
                <td>{{entity.smallPic}}</td>
                <td>{{entity.price}}</td>
                <td>{{entity.typeTemplateId}}</td>
                <td>{{entity.isEnableSpec}}</td>
                <td>{{entity.isDelete}}</td>

                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="findOne(entity.id)">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>

                        <td>商家ID</td>

                        <td><input class="form-control" ng-model="entity.sellerId" placeholder="商家ID"></td>

                    </tr>
                    <tr>

                        <td>SPU名</td>

                        <td><input class="form-control" ng-model="entity.goodsName" placeholder="SPU名"></td>

                    </tr>
                    <tr>

                        <td>默认SKU</td>

                        <td><input class="form-control" ng-model="entity.defaultItemId" placeholder="默认SKU"></td>

                    </tr>
                    <tr>

                        <td>状态</td>

                        <td><input class="form-control" ng-model="entity.auditStatus" placeholder="状态"></td>

                    </tr>
                    <tr>

                        <td>是否上架</td>

                        <td><input class="form-control" ng-model="entity.isMarketable" placeholder="是否上架"></td>

                    </tr>
                    <tr>

                        <td>品牌</td>

                        <td><input class="form-control" ng-model="entity.brandId" placeholder="品牌"></td>

                    </tr>
                    <tr>

                        <td>副标题</td>

                        <td><input class="form-control" ng-model="entity.caption" placeholder="副标题"></td>

                    </tr>
                    <tr>

                        <td>一级类目</td>

                        <td><input class="form-control" ng-model="entity.category1Id" placeholder="一级类目"></td>

                    </tr>
                    <tr>

                        <td>二级类目</td>

                        <td><input class="form-control" ng-model="entity.category2Id" placeholder="二级类目"></td>

                    </tr>
                    <tr>

                        <td>三级类目</td>

                        <td><input class="form-control" ng-model="entity.category3Id" placeholder="三级类目"></td>

                    </tr>
                    <tr>

                        <td>小图</td>

                        <td><input class="form-control" ng-model="entity.smallPic" placeholder="小图"></td>

                    </tr>
                    <tr>

                        <td>商城价</td>

                        <td><input class="form-control" ng-model="entity.price" placeholder="商城价"></td>

                    </tr>
                    <tr>

                        <td>分类模板ID</td>

                        <td><input class="form-control" ng-model="entity.typeTemplateId" placeholder="分类模板ID"></td>

                    </tr>
                    <tr>

                        <td>是否启用规格</td>

                        <td><input class="form-control" ng-model="entity.isEnableSpec" placeholder="是否启用规格"></td>

                    </tr>
                    <tr>

                        <td>是否删除</td>

                        <td><input class="form-control" ng-model="entity.isDelete" placeholder="是否删除"></td>

                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
