<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->


    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
    <script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/itemCatController.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="itemCatController"
      ng-init="findByParentId(0);selectTypeTemplateList()">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">商品分类管理</h3>
</div>

<ol class="breadcrumb">
    <li ><a href="javaScript:void(0);" ng-click="grade=1;selectList({id:0})">顶级分类列表</a></li>
    <li ng-show="grade>=2"><a href="javaScript:void(0);" ng-click="grade=2;selectList(entity_1)">{{entity_1.name}}</a></li>
    <li ng-show="grade>=3"><a href="javaScript:void(0);" ng-click="grade=3;selectList(entity_2)">{{entity_2.name}}</a></li>
</ol>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i
                            class="fa fa-trash-o"></i> 删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">类目ID</th>
                <th class="sorting">类目名称</th>
                <th class="sorting">类型模板id</th>

                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pojo in list">
                <td><input type="checkbox" ng-click="updateSelection($event,pojo.id)"></td>
                <td>{{pojo.id}}</td>
                <td>{{pojo.name}}</td>
                <td>{{pojo.typeId}}</td>

                <td class="text-center">
                    <button type="button" ng-if="grade!=3" ng-click="setGrade(grade+1);selectList(pojo)"
                            class="btn bg-olive btn-xs">查询下级
                    </button>
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="findOne(pojo.id)">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>

                        <td>上级分类名称</td>

                        <td>
                            <ol class="breadcrumb">
                                顶级分类列表 <span ng-if="grade>=2">>></span> {{entity_1.name}} <span ng-if="grade>=3">>></span>{{entity_2.name}}
                            </ol>
                        </td>

                    </tr>
                    <tr>

                        <td>类目名称</td>

                        <td><input class="form-control" ng-model="entity.name" placeholder="类目名称"></td>

                    </tr>
                    <tr ng-if="grade==3">

                        <td>类型模板</td>

                        <!--<td><input class="form-control" ng-model="entity.typeId" placeholder="类型id"></td>-->
                        <td>
                            <select class="form-control" ng-model="entity.typeId"
                                    ng-options="template.id as template.name for template in templateList"></select>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
